<div class="team__wrapper">
    <h1 class="lk_wrapper__title">Турниры</h1>
    <span class="nav_link" data-href="tournament/get__create">Создать турнир</span>
    <table class="tournaments__table">
    <% if (tournaments.length > 0) { %>
        <tr>
            <th>Название</th>
            <th>Дата</th>
            <th>Создатель</th>
            <th>Действия</th>
        </tr>
        <% for (let i = 0; i < tournaments.length; i++) { %>
            <tr class="team__item">
                
                    <td class="team__item__title">
                        <%= tournaments[i].name %>
                    </td>
                    <td class="team__item__date">
                        <%= tournaments[i].date_start %> до <%= tournaments[i].date_end %>
                    </td>
                    <td class="team__item__creator">
                        <%= tournaments[i].creator.email %>
                    </td>
                    <td class="team__item__edit">
                        <span class="nav_link" data-href="tournament/edit/?id=<%= tournaments[i]._id %>" class="team__item__edit__link">Редактировать</span>
                    </td>
            </tr>
        
        <% } %>
    </table>
    <%} else { %>
        <h1 class="lk_wrapper__title">Нет турниров</h1>
    <% } %>
    <script>
        
    </script>
</div>