<!-- <nav id="dashboard_nav">
        <ul id="dashboard_nav_list">
            <li data-href="profile">Профиль</li>
            <li data-href="tournament">Мои турниры</li>
            <li data-href="match">Мои матчи</li>
            <li data-href="team">Команды</li>
            <li data-href="player">Игроки</li>
            <li data-href="representative">Представители команд</li>
            <li data-href="transfer">Трансферы</li>
            <li data-href="judge">Судьи</li>
            <li data-href="stadium">Стадионы</li>
            <li data-href="season">Сезоны</li>
        </ul>
</nav> -->
<nav class = "navbar">
    <% if (league) { %>
     
    <a class="navbar_header" href="/fans/<%= league.address  %>">
        <img src="<%= league.img %>" alt="logo" height="25" width="25">
        <p><%= league.name  %></p>
    </a>
    <% } %>

    <div class="navbar_body ">

        <p class = "navbar_text navbar_selected icon" id="navbar_profile" data-href="profile">Профиль</p>

        <p class = "navbar_text navbar_title" >Турниры</p>
        <p class = "navbar_text icon" id="navbar_league" data-href="league">Моя лига</p>
        <p class = "navbar_text icon2" id="navbar_tournirs" data-href="tournament">Мои турниры</p>
        <p class = "navbar_text icon2" id="navbar_matches" data-href="match">Календарь игр</p>


        <p class = "navbar_text navbar_title" >Участники</p>
        <p class = "navbar_text icon2" id="navbar_commands" data-href="team">Команды</p>
        <p class = "navbar_text icon2" id="navbar_gamers" data-href="player">Игроки</p>
        <p class = "navbar_text icon2" id="navbar_reps" data-href="representative">Представители команд</p>
        <p class = "navbar_text icon2" id="navbar_reps" data-href="couch">Тренеры</p>
        <p class = "navbar_text icon2" id="navbar_transfers" data-href="transfer">Трансферы</p>
        <p class = "navbar_text icon2" id="navbar_judges" data-href="judge">Судьи</p>
        <p class = "navbar_text icon2" id="navbar_judges" data-href="commentator">Комментаторы</p>
        <% if(isAdmin) { %>
            <br>
            <p class = "navbar_text icon2" id="navbar_reps" data-href="user">Пользователи</p>
        <% } %>
    </div>
    <div class="navbar_footer">
        <img src = "<%= profile.site_img ? profile.site_img : '/static/styles/icons/logo.jpg' %>" class = "navbar_logo" alt = "logo" height="30" width="30">
        <h1 class = "navbar_naming"><%= profile.site_name ? profile.site_name : 'Sportlive' %></h1>
    </div>
</nav>