<div class="body">
    <header>
        <div class="header_block header_hide_navbar">
            <p class="header_text icon" id="header_hide_navbar_icon"></p>
        </div>

        <div class="filler"></div>
        <div class="header_block">
            <a target="_blank" href="/panel/<%= auth._id %>" id="header_panel" class="header_text">Панель</a>
            <div id="panel_slot" data-id="<%= auth._id %>">
                <div class="form-group">
                    Слот
                    <select class="select" id="panel_select">
                        <option value="default" selected>По умолчанию</option>
                        <% for(let i = 1; i <= 10; i++) { %>
                        <option value="<%= i %>">Слот <%= i %></option>
                        <% } %>
                    </select>
                </div>
                
                <input type="button" value="Открыть панель" class="button blue_button" id="open_panel">
                <input type="button" value="Открыть игроков" class="button blue_button" id="open_panel_players">
                <input type="button" value="Открыть табло" class="button blue_button" id="open_table">
            </div>
        </div>
        <div class="header_block">
            <a target="_blank" href="/panel_players/<%= auth._id %>" class="header_text">Игроки</a>
        </div>
        <div class="header_block">
            <a target="_blank" href="/table/<%= auth._id  %>" class="header_text">Табло</a>
        </div>
        <div class="header_block">
            <a href="/lk?page=style" class="header_text">Стили</a>
        </div>
        <div class="header_block">
            <p class="header_text">Тариф: Оплачен до <p class="header_text header_tariff_date"><%= auth.block_date %></p></p>
        </div>

        <div class="header_block header_icon">
            <p class="header_text icon" id="header_account">Аккаунт</p>
            <div class="logout" id="logout_btn"><p>Выйти</p></div>
        </div>
    </header>
    <style>
        .logout {
            display: none;
            position: absolute;
            top: 32px;
            right: 4px;
            background: red;
            color: white;
            padding: 2px 20px;
            cursor: pointer;
            z-index: 10;

        }
        .logout.active {
            display: block;
            
        }
    </style>
    <script type="text/javascript" src="https://unpkg.com/imask"></script>
    <div class="content" id="lk_main">