<%- include('members_header.ejs') %>
<div class="grid-body">
    <%- include('team_nav.ejs') %>
    <div class="content-body body-background">
        <div class="h_flex white">
            <img src="<%= '/images/Team/' + team.id %>" class="" width="200" height="200">
            <div class="v_flex left">
                <h2 class="nm-top"><%= team.name %></h2>
                <p class="">Последние матчи:</p>
                
                <%- include('../last_matches.ejs') %>
                <% 

                let teamData = getTeamData(team, previusMatches) 
                %>
            </div>
        </div>
        <div class="h_flex white mt">
            <div class="filler"></div>
            <p>Игры: <div class="dark-blue circle"><%= teamData.count_matches %></div></p>
            <div class="filler"></div>
            <p>Победы: <div class="dark-blue circle"><%= teamData.count_wins %></div></p>
            <div class="filler"></div>
            <p>Голы: <div class="dark-blue circle"><%= teamData.count_goals %></div></p>
            <div class="filler"></div>
            <p>Турниры: <div class="dark-blue circle"><%= teamData.count_tournaments_set.size %></div></p>
            <div class="filler"></div>
        </div>
        <h3 class="bmt">Прошедшие матчи</h3>
        <div class="grid-player match">
            <% previusMatches.forEach(match => { %>
            <div class="comming-match">
                <p class="p-title"><%= match.tournament ? match.tournament.basic.full_name : 'Без турнира' %></p>
                <div class="comming-match-block">
                    <p class=""><%= match.format_min %></p>
                    <div class="h_flex">
                    <a href="#">- <%= match.team_1.name %></a>
                    <div class="filler"></div>
                    <p class="dark-blue commands"><%= match.team_1_score || 0 %></p>
                    </div>
                    <div class="h_flex">
                        <a href="#">- <%= match.team_2.name %></a>
                        <div class="filler"></div>
                        <p class="dark-blue commands"><%= match.team_2_score || 0 %></p>
                    </div>
                </div>
            </div>
            <% }) %>
            
        </div>
        <h3 class="bmt">Будущие матчи</h3>
        <div class="grid-player match">
            <% futureMatches.forEach(match => { %>
            <div class="comming-match">
                <p class="p-title"><%= match.tournament ? match.tournament.basic.full_name : 'Без турнира' %></p>
                <div class="comming-match-block">
                <p class=" dark-blue"><%= match.format_min %></p>
                <a href="#">- <%= match.team_1.name %></a>
                <a href="#">- <%= match.team_2.name %></a>
            </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>