<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/static/styles/icons/fav.ico">

    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/styles/icons.css" />
    <link rel="stylesheet" href="/static/styles/normalize.css" />
    <script src="/static/script.js"></script>
</head>
<body>
    <script >
        let tableId = '<%= id %>'
    </script>

<% 
let style_panel = style

let css = ''

if(style_panel.includes('__id')){
    let ss = styles.find(el => el._id == style_panel.replace('__id', ''))
    console.log(ss, styles)
    style_panel = ss.based
    css = `
    .bgleft, .bgright, .goals-home, .goals-away, .roster-main-div, .color_main {
        background: ${ss.color_main} !important;
    }
    #match-info, #top-match-info, .color_accent {
        background: ${ss.color_accent} !important;
    }
    .color_accent_2 {
        background: ${ss.color_accent_2} !important;
    }
    .border_color_accent {
        border-color: ${ss.color_accent} !important;
    }
    .border_color_accent_bottom {
        border-bottom-color: ${ss.color_accent} !important;
    }
    .border_color_accent_2 {
        border-color: ${ss.color_accent_2} !important;
    }
    .roster-main-div {
        border-color: ${ss.color_accent} !important;
    }
    `
}

%>
<%- include('score_styles/' + style_panel + '/visualizer.ejs') %>

<style>
    <%=css%>


    
</style>
<style id="style_start">
    .big, .mid, .little, .little-ploff, .home-roster, .away-roster, .pen, .refs, .weather {
        display: none !important;
    }
</style>
<link rel="stylesheet" href="/static/score_styles/<%= style_panel %>/style.css">

<script type="text/javascript" defer  src="/static/pages/table.js"></script>

<%- include('score_styles/notifications/notification.ejs') %>
<link rel="stylesheet" href="/static/styles/notification.css">
<%- include('global/footer.ejs') %>