<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <meta charset="utf-8" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/styles/icons.css" />
    <link rel="stylesheet" href="/static/styles/normalize.css" />
    <script src="/static/script.js"></script>
</head>
<body>


<%- include('score_styles/' + style + '/visualizer.ejs') %>
<link rel="stylesheet" href="/static/score_styles/<%= style %>/style.css">

<script type="text/javascript" defer  src="/static/pages/table.js"></script>

<%- include('score_styles/notifications/notification.ejs') %>
<link rel="stylesheet" href="/static/styles/notification.css">
<%- include('global/footer.ejs') %>