<%- include('fans_header.ejs') %>
<div class="content">
   <%- include('fans_members/members_header.ejs') %>
   <div class="content-body body-background members-body">
      <div class="grid-player">
         <% let teamsSet = new Set(); %>
         <!-- Correctly initialize Set -->
         <% tournaments.forEach(tournament => { %> <%
         tournament.teams.forEach(team => { %> <% if
         (!teamsSet.has(team._id.toString())) { %> <%
         teamsSet.add(team._id.toString()); %>
         <!-- Add team ID to Set -->
         <div
            class="player-block fans_link"
            data-href="team/id/<%= team._id %>"
         >
            <img
               src="<%= '/images/Team/' + team.id %>"
               width="200px"
               height="200px"
               loading="lazy"
               alt="Лого команды"
               onerror="this.src = leagueImg;"
            />
            <p><%= team.name %></p>
         </div>
         <% } %> <% }); %> <% }); %>
      </div>
   </div>
</div>
<%- include('fans_footer.ejs') %>
