<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/styles/icons/fav.ico">

    <title><%= title %></title>

    <link rel="stylesheet" href="/static/styles/fans_style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <script>let leagueId = '<%= league.address %>'</script>

    <header>
        <div class="h_flex">
            <img src="<%= league.img  %>" alt="logo" class="logo" width="100" height="100">
            <div class="v_flex">
            <div class="naming">
                <h1><%= league.name %></h1>
            </div>
            <nav>
                <a class="nav-links <%= ((page_title || title) == 'О лиге') ? 'selected' : '' %>" href="/fans/<%= league.address %>">О лиге</a>
                <a class="nav-links tour_link <%= ((page_title || title) == 'Турниры') ? 'selected' : '' %>" href="/fans_tournaments/<%= league.address %>/all">Турниры</a>
                    
                <ul class="dropdown">
                    <li class="dropdown-content"><a class="nav-links" href="/fans_tournaments/<%= league.address %>/all ">Все турниры</a></li>
                    <% for (let i = 0; i < tournaments.length; i++) {
                    %>
                         <li class="dropdown-content"><a class="nav-links" href="/fans_tournaments/<%= league.address %>/all/?page=tournament/id/<%=tournaments[i]._id%>"><%= tournaments[i].basic.full_name %></a></li>
                    <%
                    }
                    %>
                </ul>
                <a class="nav-links <%= ((page_title || title) == 'Участники') ? 'selected' : '' %>" href="/fans_members/<%= league.address %>">Участники</a>
            </nav>
            </div>
            <div class="w160"></div>
        </div>
    </header>
