

<div class="create_tournire_container">
    <form id="commentator_edit__form" data-id="<%= commentator._id %>">
    <p class="content_navtext">Главная &gt; Комментаторы &gt; Изменить комментатора</p>
    <div class="create_tournire_content">
        <div class="create_tournire_header">
            <p class="page_title">Комментатор</p>
        </div>
        <div class="create_tournire_body">
            <div class="form_container">
                <div class="image_n_textareas">
                    <label class="image_upload">
                        <input type="file" class="image_input" name="img" id="image" accept="image/*">
                        <img src="<%= commentator.img %>" class="image_preview" alt="">
                        <p>Мин. размер: 320 x 320</p>
                    </label>
                    <div class="textareas_ct">

                    </div>

                
                </div>

                <div class="ct_form">
                    <div class="form_group">
                        <label for="full_name">ФИО</label>
                        <input type="text" id="fio" name="fio" required value="<%= commentator.fio %>">
                    </div>
                    
                    <div class="form_group">
                        <label for="birthday">Дата рождения</label>
                        <input type="date" id="birthday" name="birthday" value="<%= commentator.birthday %>">
                    </div>
                    <div class="form_group">
                        <label for="position">Место рождения</label>
                        <input type="text" id="position" name="position" value="<%= commentator.position %>">
                    </div>
                    <div class="form_group">
                        <label for="mobile">Телефон</label>
                        <input type="text" id="mobile" name="mobile" value="<%= commentator.mobile %>">
                    </div>
                    <div class="form_group">
                        <label for="socials">Соц. cети</label>
                        <input type="text" id="socials" name="socials" value="<%= commentator.socials %>">
                    </div>




                </div>
            </div>
        </div>
        <div class="create_tournire_footer">
            <div class="filler"></div>
            <input type="button" value="Отменить" class="button white_button">
            <input type="submit" value="Обновить" class="button green_button">
        </div>
    </div>
</form>
</div>