
<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Тренеры</p>
            <div class="filler"></div>
            <input type="button" value="Сбросить фильтры" class="table_button" id="clear_filters">
            <input type="button" value="Добавить тренера" class="table_button nav_link" data-href="couch/get__create">
            <div class="filler"></div>
            <input type="button" value="Активные" class="table_button_radio_active table_radio_active">
            <input type="button" value="Архивные" class="table_button_radio_archive">
        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>№</td>
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td></td>
        </tr>
        <tr class="filter">
            <td></td>
            <td><input type="text" name="fio" class="table_input_text"></td>
            <td><input type="date" name="birthday" class="table_input_text"></td>
            <datalist id="teams">
                <% teams.forEach((el) => { %><option data-id="<%= el._id %>" value="<%= el.name %>"><% }) %>
            </datalist>
            <td><input type="text" list="teams" class="table_input_text" name="team.name"></td>
            <td></td>
        </tr>
     <% if (couches.length > 0) { %>

    <% for (let i = 0; i < couches.length; i++) {%>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= couches[i].fio %></td>
            <td><%= couches[i].birthday %></td>
            <td><%= couches[i].team.name %></td>
            <td>link</td>
        </tr>

    
    <% } %>
</table>
<%} else { %>
</table>
    <h1 class="lk_wrapper__title">Нет тренеров</h1>
<% } %>
<%- include('pagination.ejs') %>
</div>

