<div class="tournires_container">
    <p class="content_navtext">Главная > Календарь матчей > Добавление матча</p>
    <div class = "tournires_content">
        <form id="match_create__form">
        <div class="cool_body">
            <div class="cool_header_block green create_match_header">
                    <p class="page_title ">Протокол матча</p>
            </div>
            <div class="cool_body_content">
                <div class="form-group">
                    <input type="text" list="team" name="team_1" placeholder="Выберите команду">
                    <datalist id="team">
                        <% for (let i = 0; i < teams.length; i++) { %>
                            <option value="<%= teams[i].name %>" data-value="<%= teams[i]._id %>"></option>
                        <% } %>
                    </datalist>
                    <input type="number" name="team_1_score" placeholder="Счёт">

                    <div class="filler"></div>
                    <input type="button" value="vs" class="button white_button square">
                    <div class="filler"></div>
                    <input type="number" name="team_2_score" placeholder="Счёт">
                    <input type="text" list="team_2" name="team_2" placeholder="Выберите команду">
                    <datalist id="team_2">
                        <% for (let i = 0; i < teams.length; i++) { %>
                            <option value="<%= teams[i].name %>" data-value="<%= teams[i]._id %>"></option>
                        <% } %>
                    </datalist>
                    
                </div>
                <div class="form-group form_group_checkbox mt">
                    <div class="filler"></div>
                    <label>
                        <input type="checkbox" name="is_overtime"> Дополнительное время
                    </label>
                    <label>
                        <input type="checkbox" name="is_penalty"> Пенальти
                    </label>
                    <label>
                        <input type="checkbox" name="is_tech_win"> Техническая победа
                    </label>
                    <div class="filler"></div>
                </div>
            </div>
            <div class="create_tournire_footer">
                <div class="form-group">
                </div>
                <div class="vert_group">
                    <label for="tour_num">Турнир</label>
                    <input type="text" list="tournament" name="tournament">
                    <datalist id="tournament">
                        <% for (let i = 0; i < tournaments.length; i++) { %>
                            <option value="<%= tournaments[i].basic.full_name %>" data-value="<%= tournaments[i]._id %>"></option>
                        <% } %>
                    </datalist>
                </div>
                <div class="vert_group">
                    <label for="start_date">Дата</label>
                    <input type="date" name="date" class="text_form date" id="start_date">
                </div>
                <div class="vert_group">
                    <label for="start_time">Время начала</label>
                    <input type="time" name="time" class="text_form date" id="start_time">
                </div>
                <div class="vert_group">
                    <label for="circle">Тур</label>
                    <input type="number" name="circle" class="text_form date" id="circle" value="1">
                </div>
                <div class="vert_group">
                    <label for="stadium">Стадион</label>
                    <input type="text" name="stadium" class="text_form date" id="stadium">
                </div>
            </div>
        </div>

        

        

        <div class="cool_body">
            <div class="cool_header_block create_match_header">
            <input type="button" value="Отменить" class="button red_button">
            <div class="filler"></div>

            <input type="submit" value="Сохранить" class="button green_button">
            </div>
        </div>

        </form>
    </div>