
<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Игроки</p>
            <div class="filler"></div>
            <input type="button" value="Сбросить фильтры" class="table_button" id="clear_filters">
            <input type="button" value="Добавить игрока" class="table_button nav_link" data-href="player/get__create">
            <div class="filler"></div>
            <input type="button" value="Активные" class="table_button_radio_active table_radio_active">
            <input type="button" value="Архивные" class="table_button_radio_archive">
        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td>Действия</td>
            <td></td>
        </tr>
        <tr class="filter">
            <td><input type="text" name="fio" class="table_input_text"></td>
            <td><input type="date" name="birthday" class="table_input_text"></td>
            <datalist id="teams">
                <% teams.forEach((el) => { %><option data-id="<%= el._id %>" value="<%= el.name %>"><% }) %>
            </datalist>
            <td><input type="text" list="teams" class="table_input_text" name="team.name"></td>
            <td></td>
            <td></td>
        </tr>
    <% if (players.length > 0) { %>

    <% for (let i = 0; i < players.length; i++) {%>
        <tr>
            <td><%= players[i].fio %></td>
            <td><%= players[i].birthday %></td>
            <td><%= players[i].team.name %></td>
            <td>
                <span class="table_links table_links_compos nav_link"  data-href="player/get__edit/?id=<%= players[i]._id %>">Изменить</span>
            </td>
            <td>link</td>
        </tr>

    
    <% } %>
</table>


<%} else { %>

</table>


    <h1 class="lk_wrapper__title">Нет игроков</h1>
<% } %>
<%- include('pagination.ejs') %>

</div>

