

<div class="create_tournire_container">
    <form id="player_edit__form">
    <input type="hidden" name="playerId" value="<%= player._id %>">
    <p class="content_navtext">Главная &gt; Игроки &gt; Изменить</p>
    <div class="create_tournire_content">
        <div class="create_tournire_header">
            <p class="page_title">Игрок</p>
        </div>
        <div class="create_tournire_body">
            <div class="form_container">
                <div class="image_n_textareas">
                    <div class="image_upload">
                    <img src="icons/Face.jpeg" alt="placeholder image">
                    <p>Мин. размер: 320 x 320</p>
                    </div>
                    <div class="textareas_ct">
                        <div class="form_group">
                            <label for="description">Биография</label>
                            <textarea id="description" name="description"><%= player.description %></textarea>
                        </div>
                        <div class="form_group">
                            <label for="ampl">Позиция</label>
                            <% let options = {'1': 'Вратарь', '2': 'Защитник', '3': 'Полузащитник', '4': 'Нападающий', '5': 'Универсал'} 
                            let selected = player.ampl
                            %><select class="select" id="ampl" name="ampl"> 
                            <% 
                            for ( let key in options )
                            {
                                let selected = ( key == player.ampl ) ? "selected" : "";
                                %><option value="<%= key%>" <%=selected %>><%= options[key] %></option><%
                            } 
                            %>
                            </select>
                            %>
                            
                           
                        </div>
                        <div class="form_group">
                            <label for="num">Игровой номер</label>
                            <input type="text" id="num" name="num" value="<%= player.num %>"> 
                        </div>
                    </div>

                
                </div>

                <div class="ct_form">
                    <div class="form_group">
                        <label for="full_name">ФИО</label>
                        <input type="text" id="fio" name="fio" value="<%= player.fio %>">
                    </div>
                    <div class="form_group">
                        <label for="team">Команда</label>
                        <input type="text" list="team" name="team" value="<%= player.team.name %>">
                        <datalist id="team">
                            <% for (let i = 0; i < teams.length; i++) { %>
                                <option value="<%= teams[i].name %>" data-value="<%= teams[i]._id %>" <%= ( teams[i]._id == player.team._id ) ? "selected" : "gg" %>></option>
                            <% } %>
                        </datalist>
                    </div>
                    
                    <div class="form_group">
                        <label for="birthday">Дата рождения</label>
                        <input type="date" id="birthday" name="birthday" value="<%= player.birthday %>">
                    </div>
                    <div class="form_group">
                        <label for="position">Место рождения</label>
                        <input type="text" id="position" name="position" value="<%= player.position %>">
                    </div>
                    <div class="form_group">
                        <label for="mobile">Телефон</label>
                        <input type="text" id="mobile" name="mobile" value="<%= player.mobile %>">
                    </div>
                    <div class="form_group">
                        <label for="socials">Соц. cети</label>
                        <input type="text" id="socials" name="socials" value="<%= player.socials %>">
                    </div>




                </div>
            </div>
        </div>
        <div class="create_tournire_footer">
            <div class="filler"></div>
            <input type="button" value="Отменить" class="button white_button">
            <input type="submit" value="Обновить" class="button green_button">
        </div>
    </div>
</form>
</div>