
<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Представители команд</p>
            <div class="filler"></div>
            <input type="button" value="Сбросить фильтры" class="table_button" id="clear_filters">
            <input type="button" value="Добавить представителя" class="table_button nav_link" data-href="representative/get__create">
            <div class="filler"></div>
            <input type="button" value="Активные" class="table_status table_button_radio_active table_radio_active" data-name="active">
            <input type="button" value="Архивные" class="table_status table_button_radio_archive" data-name="deleted">
        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>№</td>
            <td>ФИО</td>
            <td></td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td>Действия</td>
        </tr>
        <tr class="filter">
            <td></td>
            <td><input type="text" name="fio" class="table_input_text"></td>
            <td></td>
            <td><input type="date" name="birthday" class="table_input_text"></td>
            <datalist id="teams">
                <% teams.forEach((el) => { %><option data-id="<%= el._id %>" value="<%= el.name %>"><% }) %>
            </datalist>
            <td><input type="text" list="teams" class="table_input_text" name="team.name"></td>
            <td></td>
        </tr>
     <% if (representatives.length > 0) { %>

    <% for (let i = 0; i < representatives.length; i++) {%>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= representatives[i].fio %></td>
            <td><% if(representatives[i].img){
                %>
                <img class="table_img" src="<%= representatives[i].img %>" alt="Фото">
                
                <% }    %>        
            </td>
            <td><%= formatDatePretty(representatives[i].birthday) %></td>
            <td><%= representatives[i].team?.name %></td>
            <td>
                <% if (representatives[i].status_doc === 'active') { %>
                <span class="table_links table_links_compos nav_link"  data-href="representative/get__edit/?id=<%= representatives[i]._id %>">Изменить</span>
                <span class="table_links table_links_del" data-id="<%= representatives[i]._id %>" data-model="Representativ">В архив</span>
                <% } else { %>
                <span class="table_links table_links_del" data-id="<%= representatives[i]._id %>" data-model="Representativ">Из архива</span>
                <% } %>
            </td>
        </tr>

    
    <% } %>
</table>
<%} else { %>
</table>
    <h1 class="lk_wrapper__title">Нет представителей</h1>
<% } %>
<script>
    
</script>
<%- include('pagination.ejs') %>
</div>

