<div class="team__wrapper">
        <div class="table_container">
            <div class="table_header">
                <p class="page_title">Команды</p>
                <div class="filler"></div>
                <input type="button" value="Сбросить фильтры" class="table_button"  id="clear_filters">
                <input type="button" value="Добавить команду" class="table_button nav_link" data-href="team/get__create">
                <div class="filler"></div>
                <input type="button" value="Активные" class="table_status table_button_radio_active table_radio_active" data-name="active">
                <input type="button" value="Архивные" class="table_status table_button_radio_archive" data-name="deleted">
            </div>
            <table class="commands_table">
                <tr id="first-row" >
                    <td>№</td>
                    <td>Название команды</td>
                    <td></td>
                    <td>Дата создания</td>
                    <td>Создатель</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="filter">
                    <td></td>
                    <td><input type="text" name="name" class="table_input_text"></td>
                    <td></td>
                    <td><input type="date" name="date" class="table_input_text"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        <% if (teams.length > 0) { %>

            <% for (let i = 0; i < teams.length; i++) { %>

                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= teams[i].name %></td>
                    <td><% if(teams[i].img){
                        %>
                        <img class="table_img" src="<%= teams[i].img %>" alt="Фото">
                        
                        <% }    %>        
                    </td>
                    <td><%= teams[i].date %></td>
                    <td><%= teams[i].creator.email %></td>
                    <td>
                        <% if(teams[i].status_doc == "active") { %>
                            <span class="table_links table_links_admines nav_link" data-href="team/get__team_couch/?id=<%= teams[i]._id %>">Тренеры</span>
                            <span class="table_links table_links_compos nav_link" data-href="team/get__team_list/?id=<%= teams[i]._id %>">Состав</span>
                            <span class="table_links table_links_reps nav_link" data-href="team/get__team_representative/?id=<%= teams[i]._id %>">Представители</span>
                            <span class="table_links table_links_reps nav_link" data-href="team/get__edit/?id=<%= teams[i]._id %>">Изменить</span>
                            <span class="table_links table_links_del" data-id="<%= teams[i]._id %>" data-model="Team">В архив</span>
                        <% } else { %>
                            <span class="table_links table_links_del" data-id="<%= teams[i]._id %>" data-model="Team">Из архива</span>
                        <% } %>
                    </td>
                    <td><a target="_blank" href="/fans_members/<%= league_href %>?page=team/id/<%= teams[i]._id %>">link</a></td>
                </tr>

            <% } %>
            </table>

    <%} else { %>
        </table>
        <h1 class="lk_wrapper__title">Нет команд</h1>
    <% } %>
    <%- include('pagination.ejs') %>
</div>

</div>