<div class="team__wrapper">
    <h1 class="lk_wrapper__title">Игроки</h1>
    <span class="nav_link" data-href="team/get__team_list_create/?id=<%= team._id %>">Создать игрока</span>
    <table class="team__table">
    <% if (players.length > 0) { %>
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Создатель</th>
            <th>Действия</th>
        </tr>
        <% for (let i = 0; i < players.length; i++) { %>
            <tr class="team__item">
                
                    <td class="team__item__title">
                        <%= players[i].fio %>
                    </td>
                    <td class="team__item__date">
                        <%= players[i].birthday %>
                    </td>
                    <td class="team__item__creator">
                        <%= players[i].creator.email %>
                    </td>
                    <td class="team__item__edit">
                        <span class="data-href" data-href="team/list/exclude/?=<%= players[i]._id %>" class="team__item__edit__link">Исключить</span>
                        <span class="nav_link" data-href="player/edit/?id=<%= players[i]._id %>" class="team__item__edit__link">Изменить</span>
                    </td>
            </tr>
        
        <% } %>
    </table>
    <%} else { %>
        <h1 class="lk_wrapper__title">Нет игроков
        
        </h1>
    <% } %>
    <script>
        
    </script>
</div>