<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Игроки</p>
            <div class="filler"></div>
            <input type="button" value="Сбросить фильтры" class="table_button">
            <input type="button" value="Добавить игрока" class="table_button nav_link" new_tab="true" data-href="player/get__create">
            <div class="filler"></div>
            <input type="button" value="Активные" class="table_button_radio_active table_radio_active">
            <input type="button" value="Архивные" class="table_button_radio_archive">
        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>ФИО</td>
            <td>Фото</td>
            <td>Номер</td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td>Действия</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="text" class="table_input_text"></td>
            <td></td>
            <td></td>
            <td><input type="date" class="table_input_text"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    <% if (players.length > 0) { %>

    <% for (let i = 0; i < players.length; i++) { %>
        <tr>
            <td><%= players[i].fio %></td>
            <td><% if(players[i].img){
                %>
                <img class="table_img" src="<%= players[i].img %>" alt="Фото">
                
                <% }    %>        
            </td>
            <td><%= players[i].num %></td>
            <td><%= players[i].birthday %></td>
            <td><%= players[i].team?.name %></td>
            <td>
                <span class="table_links table_links_compos nav_link"  data-href="player/get__edit/?id=<%= players[i]._id %>">Изменить</span>
            </td>
            <td><a target="_blank" href="/fans_members/<%= league_href %>?page=player/id/<%= players[i]._id %>">link</a></td>
        </tr>

    
    <% } %>
    </table>
    <% } else { %>
    </table>


        <h1 class="lk_wrapper__title">Нет игроков</h1>
    <% } %>
<div class="cool_body">
    <div class="cool_body_content wbt">
        <p class="page_title nm">Добавить существующего игрока</p>
    </div>
    <div class="cool_body_content">
        <form id="player_add__form">
            <div class="form-group">
                <input type="hidden" name="teamId" value="<%= team._id %>">
                <input type="text" list="player" name="playerId">
                <datalist id="player">
                    <% for (let i = 0; i < playersAll.length; i++) { %>
                        <option value="<%= playersAll[i].fio %>" data-value="<%= playersAll[i]._id %>"></option>
                    <% } %>
                </datalist>
                <div class="filler"></div>
                <p class="nm"></p>
                <div class="filler"></div>
                <input type="submit" value="Добавить" class="button green_button double_form">
            </div>
        </form>
    </div>
</div>

<script>
    
</script>
</div>

