<div class="tournires_content">
    <div class="tournires_header">
        <div class="tournires_header_header">
            <p class="page_title ">Турниры</p>
            <input type="button" value="Добавить новый турнир" class="button green_button nav_link" data-href="tournament/get__create">
        </div>

        <div class="tournires_header_block">
            <div class="filter">
                <input type="text" placeholder="2024" class="text_form text">
                <input type="text" placeholder="Название" name="basic.full_name"  class="text_form text double_form">
                <input type="text" placeholder="Все" class="text_form text">
            </div>
            <input type="button" value="Найти" class="button blue_button butt_icon">
            <input type="button" value="Сбросить фильтры" class="button red_button butt_icon" id="clear_filters">
        </div>   
    </div>
    
    <div class="tournires_body">
        <% if (tournaments.length > 0) { %>
            <% for (let i = 0; i < tournaments.length; i++) { %>

            <div class="tournires_content_block">
                <div class="tournires_block_header">
                    <h1><%= tournaments[i].basic.name %> | <%= tournaments[i].basic.full_name %></h1>
                    <div class="tournires_actions">

                        <a class="nav_link" data-href="tournament/id/<%= tournaments[i]._id %>/edit">Редактировать</a>
                        <a class="nav_link">Удалить</a>
                        <a href="#">Смотреть на сайте</a>
                    </div>
                </div>
                <div class="tournires_details">
                    <p>Даты: <span>с <%= tournaments[i].basic.date_start %> до <%= tournaments[i].basic.date_end %></span></p>
                    <p class="tournires_status">Статус: Приём заявок</p>
                </div>
                <div class="tournires_tabs">
                    <input type="button" value="Команды" class="tournires_tab_button">
                    <input type="button" value="Судьи" class="tournires_tab_button">
                    <input type="button" value="Документы" class="tournires_tab_button">
                </div>
                <!-- <div class="tournires_calendar">
                    <h2>Календарь матчей</h2>
                    <input type="button" value="финал" class="tournires_tab_button">
                </div> -->
            </div>
            
            <% } %>
        </table>
        <%} else { %>
            <h1 class="lk_wrapper__title">Нет турниров</h1>
        <% } %>
        <%- include('pagination.ejs') %>
    </div>
</div>