
<div class="team__wrapper">
    <div class="table_container">
        <div class="table_header">
            <p class="page_title">Трансферы</p>
            <div class="filler"></div>
            <input type="button" value="Сбросить фильтры" class="table_button"  id="clear_filters">
            <input type="button" value="Создать трансфер" class="table_button nav_link" data-href="transfer/get__create">

        </div>
    <table class="commands_table">
        <tr id="first-row">
            <td>№</td>
            <td>ФИО</td>
            <td>Из команды</td>
            <td>В команду</td>
            <td>Дата трансфера</td>
        </tr>
        <tr class="filter">
            <td></td>
            <td><input type="text" class="table_input_text" name="player.fio"></td>
            <td><input type="text" class="table_input_text" name="team_from.name"></td>
            <td><input type="text" class="table_input_text" name="team_to.name"></td>
            <td><input type="date" class="table_input_text" name="date"></td>
        </tr>
     <% if (transfers.length > 0) { %>

    <% for (let i = 0; i < transfers.length; i++) {%>
        <tr>
            <td><%= i+1 %></td>
            <td><%= transfers[i].player.fio %></td>
            <td><%= transfers[i].team_from.name %></td>
            <td><%= transfers[i].team_to.name %></td>
            <td><%= transfers[i].date %></td>
        </tr>

    
    <% } %>
</table>
<%} else { %>
</table>
    <h2 class="lk_wrapper__title">Нет трансферов</h2>
<% } %>
<%- include('pagination.ejs') %>
</div>

