<div class="cool_body">
                        
    <form>
        <div class="cool_body_content wbt">
            <div class="table_header">
                <p class="page_title nm">Судьи</p>
                <input type="button" value="Добавить судью" class="table_button nav_link top_nav" data-href="judge/get__create">

                <div class="filler"></div>
                <input type="button" value="Незаявленные" class="table_button_radio_active table_radio_active nm vector_link" data-dest="tour_body" data-href="tournament/id/<%= tournament._id %>/judge">
                <input type="button" value="Подтвержденные" class="table_button_radio_archive middle_tbra nm vector_link" data-dest="tour_body"  data-href="tournament/id/<%= tournament._id %>/judge_in">

            </div>
            <table class="commands_table fath">

                <% if (judges) {
                    judges.forEach((judge) => {
                        %>
                        <tr>
                    <td>
                        <img src="<%=judge.img ? judge.img : '/static/styles/icons/logo.jpg'%>" alt="judge" height="80" width="80" class="ml img_t">
                    </td>
                    <td><p class="nm"><%=judge.fio %></p></td>
                    <td>            
                        <input type="button" value="Добавить" data-type="judge" data-id="<%=judge._id %>" class="button green_button judge_add" >
                    </td>
                </tr>
                <%
                    })
                } %>
                
            </table>
            
        </div>

    </form>
</div>

<div class="cool_body">
                        
                        <form>
                            <div class="cool_body_content wbt">
                                <div class="table_header">
                                    <p class="page_title nm">Комментаторы</p>
                                    <input type="button" value="Добавить комментатора" class="table_button nav_link top_nav" data-href="commentator/get__create">
                    
                                    <div class="filler"></div>
                                    <input type="button" value="Незаявленные" class="table_button_radio_active table_radio_active nm vector_link" data-dest="tour_body" data-href="tournament/id/<%= tournament._id %>/judge">
                                    <input type="button" value="Подтвержденные" class="table_button_radio_archive middle_tbra nm vector_link" data-dest="tour_body" data-href="tournament/id/<%= tournament._id %>/judge_in">
                    
                                </div>
                                <table class="commands_table fath">
                                    <% if (commentators) {
                                        commentators.forEach((commentator) => {
                                            %>
                                            <tr>
                                        <td>
                                            <img src="<%=commentator.img ? commentator.img : '/static/styles/icons/logo.jpg'%>" alt="commentator" height="80" width="80" class="ml img_t">
                                        </td>
                                        <td><p class="nm"><%= commentator.fio %></p></td>
                                        <td>            
                                            <input type="button" value="Добавить" data-type="commentator" data-id="<%=commentator._id%>" class="button green_button judge_add" >
                                        </td>
                                    </tr>
                                    <%
                                        })
                                    } %>
                                    
                                </table>
                                
                            </div>
                    
                        </form>
                    </div>