<div class="header__tourn">
        <h1 class="lk_wrapper__title">Турнир <%= tournament.name %></h1>
        <ul>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/edit">Редактировать</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/group">Группы/сетки</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/team">Команды</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/judge">Судьи</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/t_team">Сборная тура</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/results">Итоги</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/docs">Документы</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/pages">Страницы</li>
            <li class="sub_nav_link" data-place="tourn_main" data-href="tournament/id/<%= tournament._id %>/widgets">Виджеты</li>
        </ul>
</div>
